<a href="https://colab.research.google.com/github/DFelton88/Python-Coding/blob/master/Pivot_ML1Assign_TheDataQuestion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ML1Assign: The Data Question

This notebook contains the assignment related to ML1_TheDataQuestion.

**My suggestion is that you should open the two notebooks side by side on your screen and work through the assignment in this notebook with the aid of examples in ML1_TheDataQuestion.**

Let's get started by uploading data files from my github repository

In [ ]:
# The following script will pull datasets from my github repository
# and copy them into your notebook so that you can analyze the data.
# An unbelievable amount of data is available publicly through this method.
! git clone https://github.com/gacree/Pivot_DSC.git

fatal: destination path 'Pivot_DSC' already exists and is not an empty directory.

### Let's take a look at books.csv

Fill in and/or correct the missing code in the cells below. 

Again, **I would encourage you to use the ML1_TheDataQuestion as your reference.**

In [ ]:
#import pandas, the python package for data analytics
import pandas as pd

# Read the data file into a pandas dataframe entitled GoodBooks
filename = 'Pivot_DSC/books.csv'
GoodBooks = pd.read_csv(filename)

# View the first 5 rows of the new dataframe
GoodBooks.head()

   bookID  ... text_reviews_count
0       1  ...              26249
1       2  ...              27613
2       3  ...              70390
3       4  ...                272
4       5  ...              33964

[5 rows x 10 columns]

## Consider the columns of this data set:

In [ ]:
# Use the .columns attribute to list the columns of the GoodBooks dataframe
GoodBooks.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '# num_pages', 'ratings_count', 'text_reviews_count'],
      dtype='object')

### Before we move on, we should make sure that we have a clear understanding of the data in our possession. 

We will create a simple **Data Dictionary** to provide insight into the contents of our data.

Several of the columns contain information that is somewhat self-explanatory. Others perhaps may need some clarification.

### We should also determine whether or not there is any documentation for the data concerning its origin, any editing along the way ... and the contents of the data. 

In our case, Kaggle includes a brief overview and description of their datasets provided by each contributor.

https://www.kaggle.com/jealousleopard/goodreadsbooks

### Double click the cell below ...
### and complete the descriptions as you are able from the information found at the link above.

### Contents/Context: 
 

### Origin/Source: 



### Additional information:



.

### Which of the following questions could be explored using this data? ... and which ones could not? 
For those that could not, describe the additional data and/or effort that would be necessary to complete the task desired.

1) Which author has the most books listed? Yes/No? Explain.

2) Explore the differences in ratings between historical fiction and mysteries. Yes/No? Explain.

3) Compare the ratings of 1st (early) books of an author versus those that follow? Yes/No? Explain.

4) Is there a correlation between the length of a book and its rating? Yes/No? Explain.

5) What is the distribution of page length in books with the highest ratings? Yes/No? Explain.

6) Do ratings tend to be higher for male or female authors? No

7) Are the ratings for books written in English distributed similarly to those which are not? Yes/No? Explain.

In [ ]:
GoodBooks['authors'].is_unique

False

In [ ]:
GoodBooks.head()

   bookID  ... text_reviews_count
0       1  ...              26249
1       2  ...              27613
2       3  ...              70390
3       4  ...                272
4       5  ...              33964

[5 rows x 10 columns]

In [ ]:
GoodBooks.count()

bookID                3500
title                 3500
authors               3500
average_rating        3500
isbn                  3500
isbn13                3500
language_code         3500
# num_pages           3500
ratings_count         3500
text_reviews_count    3500
dtype: int64

In [ ]:
#Which author has the most books listed? Yes/No? Explain.
GoodBooks['authors'].value_counts(ascending=False)

Dick Francis                                   28
Stephen King                                   26
Kurt Vonnegut                                  23
Orson Scott Card                               21
Roald Dahl-Quentin Blake                       17
                                               ..
Bill Cosby-Varnette P. Honeywood                1
William Shakespeare-Harold Bloom-Rex Gibson     1
Julia Wilkinson                                 1
Paul Auster-Art Spiegelman-Luc Sante            1
John Steinbeck-Richard Astro                    1
Name: authors, Length: 2166, dtype: int64

In [ ]:
#What is the distribution of page length in books with the highest ratings? Yes/No? Explain.
GoodBooks['ratings_count'].value_counts(1)
GoodBooks

      bookID  ... text_reviews_count
0          1  ...              26249
1          2  ...              27613
2          3  ...              70390
3          4  ...                272
4          5  ...              33964
...      ...  ...                ...
3495   10846  ...                120
3496   10847  ...               8179
3497   10848  ...                149
3498   10851  ...                 22
3499   10853  ...                164

[3500 rows x 10 columns]

In [ ]:
 #Compare the ratings of 1st (early) books of an author versus those that follow? Yes/No? Explain
GoodBooks_author= GoodBooks.loc[(GoodBooks.authors == 'Dick Francis') & (GoodBooks.ratings_count), :]
GoodBooks_author

      bookID  ... text_reviews_count
2754    8520  ...                243
2756    8523  ...                 60
2757    8525  ...                121
2763    8537  ...                106
2765    8540  ...                109
2767    8542  ...                171
2770    8546  ...                 84
2776    8568  ...                123
2777    8570  ...                  0
2781    8583  ...                  0

[10 rows x 10 columns]

In [ ]:
#Is there a correlation between the length of a book and its rating? No
GoodBooks['ratings_count'].value_counts(1)
GoodBooks.tail()

      bookID  ... text_reviews_count
3495   10846  ...                120
3496   10847  ...               8179
3497   10848  ...                149
3498   10851  ...                 22
3499   10853  ...                164

[5 rows x 10 columns]

### What other questions come to mind as you consider the GoodBooks data?

### GoodBooks columns are listed below. I have given a few examples that offer a brief description of the contents of the column along with the data type (string, integer, date, etc.) and format. Take the time to complete the same task for the remainder of the columns given.

'bookID': integer - 1,2,3, ... - A unique (but not consecutive) id number for each book

'title': 

'authors': 

'average_rating': float - from 0 - 5.00 - The average rating of the book.

'isbn': integer - 10-digit - International Standard Book Number 

'isbn13': integer - 13-digit - International Standard Book Number 

'language_code': string - (eng, en-US, fre, spa, etc.) - Primary language of the book

'num_pages'

'ratings_count'

'text_reviews_count'

'publication_date'

'publisher'

### List your questions below:

1) Which author has the most books listed? Yes, Dick Francis.  

2)What is the distribution of page length in books with the highest ratings? Harry Potter and the Half-Blood Prince, 652 pages.

3) Compare the ratings of 1st (early) books of an author versus those that follow? Dick Francis, Odds Against(1965) and Under Orders (2006)

4) Is there a correlation between the length of a book and its rating? No, the 
book with the highest rating Harry Potter and the Half-Blood Prince has 652 pages. The lowest rating book is Gatsby's Girl	by Caroline Preston	at 3.53	with 312 pages.